<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!-- Creating connection string to connect to database.-->
	<connectionStrings>
		<add name ="Tournaments" 
			 connectionString="Server=DESKTOP-HK6CIIL;Database=Tournaments;Trusted_Connection=True;" 
			 providerName="System.Data.SqlClient" 
		/>
	</connectionStrings>
</configuration>